// Import all of Bootstrap's CSS
.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul,p,div {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.nav-list>li{

}
.topnav-link{
  text-decoration: none;
  color: #00afef;
  font-size: 16px;
  font-weight: bolder;
}
.topnav-link:hover{
  color: #00afef;
  text-decoration: underline;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

@import "bootstrap/scss/bootstrap";
